/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
html{
  background-color: rgb(42, 44, 48);
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom:0px;
  font-family: 'Ubuntu', sans-serif;
}
body{
  margin-top: 0px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom:0px;
}
header nav{
  margin: auto;
  background-color:rgb(42, 44, 48);
}
header nav ul{
  width:auto;
  list-style-type: none;
  margin: 0px auto;
  padding: 0px auto;
}
header nav ul li{
    display:inline-block;
    text-align: center;
}
header nav ul li a{
    color:white;
    display: inline-block;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
  }
header nav ul li .current{
  padding: 5px;
  margin: 0px,5px,0px,0px;
  border-bottom: 3px solid rgb(55,175,184);
}
header nav ul li a.notChosen{
  background-color: rgb(42,44,48);
  border: 3px solid rgb(42,44,48);
  margin: 0px,5px,0px,5px;
  padding: 5px;
}
a{
  color:rgb(55,175,184);
  text-decoration: none;
  }
a:hover{
  color:rgb(55,175,184);
}
.socialMediaLinks{
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 16px;
  font-family: 'Ubuntu', sans-serif;
  width: auto;
  height: auto;
  text-align: center;
  border-top: 1px white solid;
}
.socialMediaLinks a{
  padding-right: 10px;
  padding-left: 10px;
}
